<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mashule </title>

  <!-- Custom fonts for this template-->
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
  <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">DASHBOARD</h1>
  </div>

  <div class="row">


    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                ALL users
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="userCount">
                {{ userCount }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                number of schools
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="userCount">
                {{ userCount }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Events </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="eventCount">
                {{ eventCount }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->



    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <a class="nav-link collapsed" href="/user" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  <i class=""></i>
                  <!-- <span>click to approve</span> -->
                </a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Schools partnered</h2>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <div>
        <button class="btn btn-outline-success" (click)="openAddSchoolModal()" type="button">Add new school</button>
      </div> -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">School Name</th>
            <th scope="col">Location</th>
            <th scope="col">School Code</th>
            <th scope="col">County</th>
            <!-- <th scope="col">logoUpload</th> -->
            <th scope="col">Actions</th> <!-- Add a new column for Actions -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let school of schoolsData; let i = index">
            <!-- Use the index (i) to number the rows, starting from 1 -->
            <td>{{ i + 1 }}</td>
            <td>{{ school.schoolName }}</td>
            <td>{{ school.location }}</td>
            <td>{{ school.schoolCode }}</td>
            <td>{{ school.county }}</td>
            <!-- <td>{{ school.logoUpload }}</td> -->
            <td>
              <button class="btn btn-outline-primary" (click)="viewSchool(school.id)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      </div>
    </div>
  </div>


  <!-- Add School Modal -->
  <!-- <div class="modal fade" id="addSchoolModal" tabindex="-1" role="dialog" aria-labelledby="addSchoolModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSchoolModalLabel">Add New School</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addSchoolForm" (submit)="addNewSchool()">
          <div class="mb-3">
            <label for="schoolName" class="form-label">School Name</label>
            <input type="text" class="form-control" id="schoolName" formControlName="schoolName"
              aria-describedby="schoolNameHelp">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" formControlName="location">
          </div>
          <div class="mb-3">
            <label for="schoolCode" class="form-label">School Code</label>
            <input type="text" class="form-control" id="schoolCode" formControlName="schoolCode">
          </div>
          <div class="mb-3">
            <label for="county" class="form-label">County</label>
            <input type="text" class="form-control" id="county" formControlName="county">
          </div>
          <div class="mb-3">
            <label for="images" class="form-label">Gallery Images</label>
            <input type="file" class="form-control" id="images" formControlName="images" (change)="onImageSelect($event)" multiple>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addNewSchool()">Add School</button>
      </div>
    </div>
  </div>
</div> -->
  <!-- <container-fluid> -->

  <!-- End of Main Content -->